

body {
    background-color: white;
    font: "mono";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.title {
    position: relative;
    text-align: center;
    font-size: 5rem;
    margin: 2rem auto;
}
/* Styles for the sub headings and paragraphs. */
.sub-heading {
    margin: 0;
    font: "mono";
}

.other {
    margin: 0;
    font: "mono";
    font-size: 1.2rem;
}

.paragraph {
    font: "mono";
    font-size: 1.2rem;
}


.start-button {
    position: absolute;
    color: white;
    font-size: large;
    border: none;
    padding: 15px;
    background-color: blueviolet;

}


