
/* This defines the entire body of the Impact page. */
body {
    background-color: white;
    font: "mono";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.title {
    position: relative;
    text-align: center;
    font-size: 5rem;
    margin: 2rem auto;
}

.other {
    margin: 0;
    font: "mono";
    font-size: 1.2rem;
}

.paragraph {
    font: "mono";
    font-size: 1.2rem;
}

.container4 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

