.fade-in {
    opacity: 0;
    animation: fadeIn 6s ease-in forwards;
  }
  
  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }
  
  .slide-up {
    transform: translateY(100%);
    animation: slideUp 3s ease-in forwards;

  }
  
  @keyframes slideUp {
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes typing {
      from { width: 0; }
      to { width: 100vw; }
  }
    
  @keyframes blink-caret {
      from, to { border-color: transparent; }
      50% { border-color: black; }
  }
    
  .bio-text {
      font-family: 'Courier New', monospace;
      font-size: 20px;
      white-space: pre-wrap; /* Allow text to wrap, but after line breaks */
      overflow: hidden;
      border-right: 2px solid;
      width: 0; /* Start at width 0 */
      animation: typing 10s steps(40, end), blink-caret 0.75s step-end infinite;
      display: block;
  }
    
  .writing {
      display: block;
      white-space: nowrap;
  }
  

